/* Mobile */

.row {
}

.row-inner {
   max-width: 900px;
   margin: 0 auto;
   padding: 24px;
}

.row-inner > *:last-child {
   padding-bottom: 0; /* Make sure the last element doesn't add extra padding-bottom to your row */
}

/* Tablet */

@media screen and (min-width: 768px) {
   .row-inner {
      padding:  48px 36px;
   }
}

/* Desktop */

@media screen and (min-width: 1024px) {
   .row-inner {
      padding: 64px 48px;
   }
}
